body {
    background: #e8e8e8;
}
#app {
    margin: 10px auto;
    display: block;
    width: 600px;
    height: 500px;
    border: 1px solid #000;
    background: #fff;
}
.btn-group {
    margin: 10px auto;
    width: 600px;
    text-align: center;
    font-size: 14px;
    color: #3F536E;
}
.btn-group button {
    -webkit-appearance: none;
    outline: none;
    padding: 5px 20px;
    color: #fff;
    font-size: 14px;
    background: #6190E8;
    border-width: 0;
    border-radius: 5px;
}
.btn-group button:hover {
    background: #78A4FA;
}
.btn-group button:active {
    background: #4878F6;
}
.btn-group p {
    margin: 5px;
}